@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-primary: rgba(8, 10, 12, 1);
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
div,
span,
td,
th,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kode Mono", monospace !important;
  margin: 0;
}

video {
  mix-blend-mode: screen;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(216, 215, 215);
  border-radius: 50px;
}
